services:
  db:
    image: postgres:17.6
    environment:
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: bread
    ports:
        - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:bookworm
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  db_data:
  redis_data:
