{{ block "checkout" . }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bread</title>
  <link rel="stylesheet" href="/static/styles/global.css" />
  <link rel="stylesheet" href="/static/styles/index.min.css" />
  <link rel="stylesheet" href="/static/styles/navbar.min.css" />
  <link rel="stylesheet" href="/static/styles/checkout.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
</head>

<body>
  <header>
    {{ block "navbar" . }}{{ end }}
  </header>
  <main style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div class="checkout-container">
      <section class="checkout-header">
        <h1>Checkout</h1>
      </section>
      <div class="checkout-items">
        <table class="checkout-table">
          <thead>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
          </thead>
          <tbody>
          {{ range $product := .Items }}
            <tr class="checkout-item">
              <td>{{ $product.Name }}</td>
              <td data-label="Amount">{{ $product.Quantity }}</td>
              <td data-label="Price">&#8380;{{ $product.Price }}</td>
              <td data-label="Total">&#8380;{{ $product.TotalPrice }}</td>
            </tr>
          {{ end }}
          </tbody>
        </table>
      </div>
      <div class="checkout-footer">
        <p>Total:</p>
        <span>&#8380;{{ .TotalPrice }}</span>
      </div>
      <form class="checkout-actions">
        <input class="phone-input" placeholder="Phone number"/>
        <button class="button-base order-btn">
          Order
        </button>
      </form>
    </div>
  </main>
</body>

</html>
{{ end }}
