{{ block "navbar" . }}
<nav
  class="flex flex-wrap items-center justify-between border-b border-black mb-10 px-3 min-h-[50px] md:px-4 lg:px-[50px] md:flex-nowrap md:h-[50px]">
  <a href="/" class="no-underline text-black">
    <h1 class="text-base my-2 md:text-xl md:my-0 lg:text-2xl">BREAD</h1>
  </a>
  <!-- <div class="flex-1 flex justify-center text-xl md:text-lg md:justify-start md:w-full md:flex-none md:p-2 md:border-t md:border-[#eee]">
    <a href="/" class="relative px-2 h-full flex items-center border-r border-[#ccc] last:border-r-0">Catalog</a>
    <a href="/" class="relative px-2 h-full flex items-center border-r border-[#ccc] last:border-r-0">Home</a>
  </div> -->
  <div class="flex items-center gap-2 order-2 ml-auto md:order-0 md:ml-0 md:gap-2.5 h-full">
    <a href="/"
      class="relative px-2 flex items-center border-r border-[#ccc] last:border-r-0 text-sm md:text-base md:px-2 h-full">Orders</a>
    {{ template "basket" . }}
  </div>
</nav>
{{ end }}

{{ block "basket" . }}
<a href="/checkout">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="lucide lucide-shopping-cart-icon lucide-shopping-cart">
    <circle cx="8" cy="21" r="1" />
    <circle cx="19" cy="21" r="1" />
    <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12" />
  </svg>
</a>
{{ end }}
