{{ block "product-card" . }}
<div class="product-card">
  <div class="product-image">
    <img src="{{ .ImgUrl.String }}" alt="{{ .Name }}" />
  </div>
  <div class="product-details">
    <h1 class="product-title" name="uniwuename">{{ .Name }}</h1>
    <h4 class="product-price"><span>&#8380;{{ .Price }}</span></h4>
    <section class="product-info">
      <div class="info-item">
        <p>Состав: </p>
        <span>{{ .Ingredients }}</span>
      </div>
    </section>
    <section class="product-actions">
      <button class="add-to-cart-button" hx-post="/basket" hx-swap="outerHTML" hx-vals='{"product_id": "{{ .ID }}"}'>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-plus-icon lucide-plus">
          <path d="M5 12h14" />
          <path d="M12 5v14" />
        </svg>
      </button>
    </section>
  </div>
</div>
{{ end }}
