@font-face {
    font-family: "AdwaitaMono-Regular";
    src: url("/static/fonts/AdwaitaMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "AdwaitaMono-Regular";
}

.button-base {
    background: none;
    border: none;
    cursor: pointer;
}
