.product-card {
  display: flex;
  gap: 16px;
  height: 400px;
  width: 700px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .product-details {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    .product-title {
      width: 100%;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ccc;
      }
    }

    .product-price {
      color: rgba(0, 0, 0, 0.6);
      padding: 0;
      margin: 0;
    }

    .product-info {
      flex: 1;
      // color: rgba(0, 0, 0, 0.6);
      padding-right: 16px;
      margin: 0;

      .info-item {
        display: grid;
        grid-template-columns: 75px 4fr;
        padding: 0;
        margin: 0;
        align-items: baseline;
        gap: 16px;
      }
    }

    .product-actions {
      display: flex;
      align-self: flex-end;
      padding-bottom: 16px;
      padding-right: 16px;

      .add-to-cart-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  .product-image {
    width: 40%;
    height: 100%;

    img {
      width: 100%;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      object-fit: cover;
      height: 100%;
    }
  }
}
